@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lato:ital,wght@1,300;1,400;1,700&family=Roboto:ital,wght@1,300;1,400;1,500;1,700&display=swap');


/*code used from https://codepen.io/glebkema/pen/xryaKK to collaps accordion on small screen - edited to use collaps at medium screen also*/
@media (min-width: 1024px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}

.body {
   font-family: 'roboto-ital' sans-serif; 
   height: 100%;
   width: 100%;
}

.modal-content{
    background-color: #54b3f7;  
}

.modal-header,
.modal-body,
.modal-footer,
.form-group {
    padding: 0.5rem;
    margin-bottom: 0;
    border: 0;
}

.alert-container .col-12{
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.alert a{
    margin-left: 15px;
    color: #2ee0fd;
}

.alert a:hover,
.alert a:active,
.alert a:focus {
    color: #10ff00;
}

.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(232, 29, 29);
}
.side-wide-alert {
    color: rgb(255, 238, 1);
    background-color: rgb(129, 36, 250);
    border-color: rgb(129, 36, 250);
    padding: 10px 15px;
    margin-bottom: 0;
    border-radius: 0;
}

/*container*/

.collout-container {
    height: 100vh;

    background: url("../images/BackgroundHome1.jpg") no-repeat center center fixed;

    background-blend-mode: overlay;
    background-size: cover;
   
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    text-align: center;
}

.collout-container-about {
    height: 80vh;

    background: url("../images/about1024.jpg") no-repeat center center fixed;

    background-blend-mode: overlay;
    background-size: cover;
   
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    text-align: center;
}

.collout-container-offers {
    height: 100vh;

    background: url("../images/BackgroundOffers1.jpg") no-repeat center center fixed;

    background-blend-mode: overlay;
    background-size: cover;
   
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    text-align: center;
}


.navalert-container{
    padding: 0px;
    margin: 0px;
    position: absolute;
    z-index: 1;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}

.container-wrapper--yellow{
    background-color: #e8d03d;
    padding-bottom: 20px;
    text-align: center;
}
/*headers*/

.page-header {
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
}

.offers-header p{
    text-transform: none;
    color: rgb(185, 1, 1);
}

/*jumbptron*/
.jumbotron{
    background-color: transparent;
    
}
.jumbotron p{
    color: rgb(5, 253, 207);
}

.jumbotron-header{
    color: rgb(255, 177, 60);
    margin-top: 3em;
}

.jumbotron .jumbotron-offers{
    margin-top: 30px;
}
/* Navigation */

.navbar {
    background-color: #5989a7;;
}
.navbar-toggler{
    border: 0;
}
.navbar .navbar-nav a{
    font-weight: 400;
    font-family: 'Roboto:ital' sans-serif;
    font-size: 20px;
}

.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(232, 29, 29);
}

/* Buttons*/

.btn--cta {
    border-radius: 100px;
    color: blue;
    font-weight: 500;
}

.btn {
    font-family: 'Roboto:ital' sans-serif;
    text-align: center;
}

.btn--yellow {
    background-color: #e8d03d;
    border-color: #e8d03d;
}

.btn--yellow:hover,
.btn--yellow:active,
.btn--yellow:focus,
.btn--red:active:focus {
    background-color: yellow;
    border-color: yellow;
    color: #ca1717;
}
/*Divider */

.block-divider{
    width: 150px;
    height: 5px;
    background-color: #8c00ff;
    border: 1px;
}

.block-divider--white{
    width: 150px;
    height: 5px;
    background-color: white;
    border: 1px;
}
.block-divider--red{
     width: 250px;
    height: 5px;
    background-color: rgb(190, 5, 5);
    border: 1px;
}

/* Collout */

.container-fluid {
    width: 100%;
}

/* Benefits */

/* Feedback */
.blockquote {
    text-align: right
}

.media {
    padding-top: 10px;
    padding-bottom: 10px;
}

.blockquote-footer{
    color: #71b4ef;
}

.blockquote p{
    font-family: handlee;
    text-align: right;
}

/* Footer */
.footer-container{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-wrapper--footer{
    background-color: #5989a7;;
}

/* To style about.html */

/*service*/

.card{
    background-color: transparent;
    border: none;
    
}

.card-header{
    background-color: transparent;
    border: none;
    font-size: 20px;
    
}
.hidden{
    text-transform: uppercase;
    font-family: 'Lato:ital';
    font-size: 25px;
    font-weight: bold;
}

/*jumbotron */

.service .jumbotron-header{
    color: white;
    font-weight: bold;
}

.social-icon i{
    color:#d25a5a;
}

/* To style offers.html*/

.table-dark th{
    text-transform: uppercase;
}
/* @media used for hide first row of column on small devices*/
@media (max-width: 800px) {
  th:nth-child(1) {
    display:none;
  }
}

.lates-offers .card-size{
    box-shadow: 0 0 5px #6f6d6d;
    margin: 5px;
    padding: 5px;
    height: 730px;
    background-color: #dce3f5;
}

.card .offers{
    padding: 5px;
    box-shadow: inset 0 0 5px #757373;
    text-transform: initial;
    white-space: normal;
    overflow:auto;
    margin-bottom: 5px;
    height: 391px;
}

.img-thumbnail{
    width: 330px;
    height: 250px;
    
    padding: 0;
    background-color: #fff;
    border: 0;
    border-radius: 0; 
    max-width: 100%;
}

