.body {
   font-family: 'roboto-ital' sans-serif; 
   height: 100%;
   width: 100%;
}

.alert-container .col-12{
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.alert a{
    margin-left: 15px;
    color: #2ee0fd;
}

.alert a:hover,
.alert a:active,
.alert a:focus {
    color: #10ff00;
}

.side-wide-alert {
    color: rgb(255, 238, 1);
    background-color: rgb(129, 36, 250);
    border-color: rgb(129, 36, 250);
    padding: 10px 15px;
    margin-bottom: 0;
    border-radius: 0;
}

.collout-container {
    height: 100vh;

    background: url("../images/BackgroundHome1.jpg") no-repeat center center fixed;
    background-blend-mode: overlay;
    background-size: cover;
    
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
.navalert-container{
    padding: 0;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}


.container-fluid {
    width: 100%;
}

.page-header {
    text-align: center;
}

/*jumbptron*/
.jumbotron{
    background-color: transparent;
}
.jumbotron p{
    color: rgb(5, 253, 207);
}

.jumbotron-header{
    color: rgb(255, 177, 60);
    text-align: bold;
}
/* Navbar */

.navbar {
    background-color: #6f89a2;
}

/* Buttons*/

.btn--cta {
    border-radius: 100px;
    color: blue;
    font-weight: 500;
}

.btn--yellow {
    background-color: #e8d03d;
    border-color: y#e8d03d;
}

.btn--yellow:hover,
.btn--yellow:active,
.btn--yellow:focus {
    background-color: yellow;
    border-color: yellow;
    color: #ca1717;
}
/*Divider */

.block-divider{
    width: 150px;
    height: 5px;
    background-color: #8c00ff;
    border: 1px;
}

/* Collout */

/* Benefits */
.benefits-container{}

/* Feedback */

.blockquote p{
    font-family: Handlee;
}

/* Footer */