@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Mono:ital,wght@0,400;0,500;1,400;1,500&family=Handlee&family=Roboto:ital,wght@1,300;1,400;1,500;1,700&display=swap');

/*code used from https://codepen.io/glebkema/pen/xryaKK to collaps accordion on small screen - edited to use collaps at medium screen also
@media (min-width: 1024px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}*/
@media (min-width: 1200px){
.container {
    max-width: 1440px
 }
}
body {
   font-family: 'Lato:ital', sans-serif; 
}

.alert-container .col-12{
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.alert a{
    margin-left: 15px;
    color: #2ee0fd;
}

/* To hover link in alert container*/
.alert a:hover,
.alert a:active,
.alert a:focus {
    color: rgb(208, 177, 27);
}

/*about pointer*/
.card-header i:hover,
.card-header i:active,
.card-header i:focus {
    color: #df0505;
}


.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(232, 29, 29);
}
.side-wide-alert {
    color: rgb(255, 238, 1);
    background-color: rgb(129, 36, 250);
    border-color: rgb(129, 36, 250);
    padding: 5px 15px;
    margin-bottom: 0;
    border-radius: 0;
}

.lead{
    font-weight: 400;
    font-family: 'Roboto:ital', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 5px;
}
/*container*/

.collout-container {
    height: 100vh;

    background: url("../images/BackgroundHome1.jpg") no-repeat center center fixed;

    background-blend-mode: overlay;
    background-size: cover;
   
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    text-align: center;
}

.collout-container-about {
    height: 80vh;

    background: url("../images/about1024.jpg") no-repeat center center fixed;

    background-blend-mode: overlay;
    background-size: cover;
   
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    text-align: center;
}

.collout-container-offers {
    height: 80vh;

    background: url("../images/BackgroundOffers1.jpg") no-repeat center center fixed;

    background-blend-mode: overlay;
    background-size: cover;
   
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    text-align: center;
}


.navalert-container{
    padding: 0px;
    margin: 0px;
    position: absolute;
    z-index: 1;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}

.container-wrapper--yellow{
    background-color: #e8d03d;
    padding-bottom: 20px;
    text-align: center;
}
/*headers*/

.page-header {
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
}

.page-header h2{
    font-family: 'Roboto:ital', sans-serif;
}

/* to highlight free item whith order*/
.offers-header p{
    text-transform: none;
    color: rgb(185, 1, 1);
    font-size: 12px;
}

/*jumbptron*/
.jumbotron{
    background-color: transparent;
    
}

.jumbotron p{
    color: rgb(24, 255, 191);
}



.jumbotron-header{
    color: rgb(255, 177, 60);
    margin-top: 3em;
    font-family: 'Roboto:ital', sans-serif;
    text-transform: uppercase;
}

.jumbotron .jumbotron-offers{
    margin-top: 30px;
}
/* Navigation */

.navbar {
    background-color: #026eb1;
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.navbar.navbar-toggler{
    border: 0;
}

.navbar .navbar-nav a{
    font-weight: 300;
    font-family: 'Roboto:ital', sans-serif;
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(232, 29, 29);
}

.navbar-brand img{
    height: 50px;
    width: 50px;
}

/* Buttons*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn {
    font-family: 'Roboto:ital', sans-serif;
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 0;
}


.btn--red {
    color:white;
    background-color: #f05f40;
    border-color: #f05f40; 
    width: 75px;
    height: 30px;   
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #881b04;
    border-color: #881b04;
    color: white;
}

/*Divider */

.block-divider{
    width: 150px;
    height: 5px;
    background-color: #8c00ff;
    border: 1px;
}

.block-divider--white{
    width: 150px;
    height: 5px;
    background-color: white;
    border: 1px;
}
.block-divider--red{
    width: 250px;
    height: 5px;
    background-color: rgb(190, 5, 5);
    border: 1px;
}

/* Collout */

.container-fluid {
    width: 100%;
}

/* Benefits */

.benefits h4{
    font-size: 18px;
}

/* Form */

/* Remove arrows spiner from number input field*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.modal-content{
    background-color: #54b3f7;  
}

.modal-header,
.modal-body,
.modal-footer,
.form-group {
    padding: 0.5rem;
    margin-bottom: 0;
    border: 0;
}

/* Feedback */
.blockquote {
    text-align: left;
}

.media {
    padding-top: 10px;
    padding-bottom: 10px;
}

.blockquote-footer{
    color: #026eb1;
    font-family: 'Roboto+Mono:ital', sans-serif;
    font-size:14px;
}

.blockquote p{
    font-family:'Handlee', sans-serif;
    text-align: left;
    font-size: 16px;
}

/* Footer */
.footer-container{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-wrapper--footer{
    background-color: #026eb1;
}

.media img{
    height: 100px;
    width: 100px
}

/* To style about.html */

/*service*/

.card{
    background-color: transparent;
    border: none;
    
}

.card-header{
    background-color: transparent;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
}

.card-title{
    margin-bottom: .75rem;
    text-transform: capitalize;
    text-align: center;
}

.hidden{
    text-transform: uppercase;
    font-family: 'Lato:ital';
    font-size: 25px;
    font-weight: bold;
}

/*jumbotron */


.social-icon i{
    color:#d6da04;
}

/* To style offers.html*/

.table-dark th{
    text-transform: uppercase;
}

.table-dark td{
    vertical-align: middle;
}


.offers-header{
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.lates-offers .card-size{
    box-shadow: 0 0 15px #6f6d6d;
    margin-bottom: 20px;
    padding: 5px;
    height: 730px;
    background-color: #dce3f5;
}

.card .offers{
    padding: 5px;
    box-shadow: inset 0 0 5px #757373;
    text-transform: initial;
    white-space: normal;
    overflow:auto;
    margin-bottom: 5px;
    height: 391px;
    text-align: center;
}

.card-size img{
    width: 100%;
    height: 200px;
    padding: 0;
    background-color: #fff;
    border: 0;
    border-radius: 0;  
}

.btn-info {
    color: #fff;
    background-color: #de2626;
    border-color: #de2626;
    text-transform: capitalize;